{% extends 'base/base.html' %}
{% block page_content %}
  <div class="section-4 wf-section">
    <div class="container-5 w-container">
      <h1 class="heading-4">About</h1>
      <div class="text-block-3">Digital Plug is an online platform for both graphic designers and people who seek their services. However, the platform&#x27;s main purpose isn&#x27;t just business. This is a place where people can showcase their work or draw inspiration from other people&#x27;s projects.</div>
    </div>
  </div>
  <div class="section-5 wf-section">
    <div class="container w-container">
      <div class="w-row">
        <div class="w-col w-col-6">
          <h1 class="heading-19">The founder</h1>
          <p class="paragraph">Stanislav Manolov is a graphic designer and software developer, based in Sofia, Bulgaria. At first his idea was to create a personal portfolio website, named by his graphic design nickname - SMG. But then came his vision of a graphic design online community, where he would feature other designers&#x27; projects as well. The digital plug logo was created and sat in the hard drive for months, when one day Stanislav saw the oppertunity to build the website for his final exam at SoftUni. The rest is history.</p>
        </div>
        <div class="w-col w-col-6">
          <div class="div-block-3"><img src="images/profile-photo-linkedin.png" loading="lazy" sizes="(max-width: 479px) 60vw, (max-width: 767px) 225px, (max-width: 991px) 28vw, 225px" height="300" srcset="images/profile-photo-linkedin-p-500.png 500w, images/profile-photo-linkedin-p-800.png 800w, images/profile-photo-linkedin-p-1080.png 1080w, images/profile-photo-linkedin.png 1200w" alt="" class="image-5"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}