{% extends 'base/base.html' %}
{% block page_content %}
  <div class="section-12 wf-section">
    <div class="w-container">
      <div class="div-block-12">
        <div class="w-form">
          <form id="email-form" name="email-form" data-name="Email Form" method="get">
            <h1 class="heading-14">Contact Creator</h1><label for="field" class="field-label">Your message</label><textarea id="field" name="field" maxlength="5000" placeholder="" data-name="field" class="textarea w-input"></textarea><input type="submit" value="Send" data-wait="Please wait..." class="submit-button-3 w-button">
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}