{% extends 'base/base.html' %}
{% block page_content %}
  <div class="section-6 wf-section">
    <div class="container-6 w-container">
      <div>
        <div data-current="Tab 2" data-easing="ease" data-duration-in="300" data-duration-out="100" class="w-tabs">
          <div class="tabs-menu w-tab-menu">
            <a data-w-tab="Tab 1" class="tab-link-tab-1 w-inline-block w-tab-link">
              <div class="text-block-4">Recent projects</div>
            </a>
            <a data-w-tab="Tab 2" class="tab-link-tab-2 w-inline-block w-tab-link w--current">
              <div class="text-block-5">New Creators</div>
            </a>
          </div>
          <div class="tabs-content w-tab-content">
            <div data-w-tab="Tab 1" class="w-tab-pane">
              <div class="columns w-row">
                <div class="column-3 w-col w-col-3">
                  <div class="div-block-4"><img width="200" sizes="(max-width: 479px) 44vw, (max-width: 767px) 40vw, (max-width: 991px) 127px, 180px" src="images/blue-post-nikan-01-01.png" loading="eager" srcset="images/blue-post-nikan-01-01-p-500.png 500w, images/blue-post-nikan-01-01-p-800.png 800w, images/blue-post-nikan-01-01-p-3200.png 3200w, images/blue-post-nikan-01-01.png 6250w" alt="" class="image-6">
                    <h5 class="heading-5">Engineering Logo</h5>
                    <div>SMG</div>
                  </div>
                  <div class="div-block-4"><img width="200" sizes="(max-width: 479px) 44vw, (max-width: 767px) 40vw, (max-width: 991px) 127px, 180px" src="images/blue-post-nikan-01-01.png" loading="eager" srcset="images/blue-post-nikan-01-01-p-500.png 500w, images/blue-post-nikan-01-01-p-800.png 800w, images/blue-post-nikan-01-01-p-3200.png 3200w, images/blue-post-nikan-01-01.png 6250w" alt="" class="image-6">
                    <h5 class="heading-5">Engineering Logo</h5>
                    <div>SMG</div>
                  </div>
                </div>
                <div class="column-4 w-col w-col-3">
                  <div class="div-block-4"><img width="200" sizes="(max-width: 479px) 44vw, (max-width: 767px) 40vw, (max-width: 991px) 127px, 180px" src="images/profile-pic-01.png" loading="eager" srcset="images/profile-pic-01.png 500w, images/profile-pic-01.png 800w, images/profile-pic-01.png 1080w, images/profile-pic-01.png 1600w, images/profile-pic-01.png 2000w, images/profile-pic-01.png 2600w, images/profile-pic-01.png 3200w, images/profile-pic-01.png 4167w" alt="" class="image-6">
                    <h5 class="heading-5">Engineering Logo</h5>
                    <div>SMG</div>
                  </div>
                  <div class="div-block-4"><img width="200" sizes="(max-width: 479px) 44vw, (max-width: 767px) 40vw, (max-width: 991px) 127px, 180px" src="images/electric-yellow-01.png" loading="eager" srcset="images/electric-yellow-01.png 500w, images/electric-yellow-01.png 800w, images/electric-yellow-01.png 1080w, images/electric-yellow-01.png 1600w, images/electric-yellow-01.png 2000w, images/electric-yellow-01.png 2600w, images/electric-yellow-01.png 3200w, images/electric-yellow-01.png 4167w" alt="" class="image-6">
                    <h5 class="heading-5">Engineering Logo</h5>
                    <div>SMG</div>
                  </div>
                </div>
                <div class="column-5 w-col w-col-3">
                  <div class="div-block-4"><img width="200" sizes="(max-width: 479px) 44vw, (max-width: 767px) 40vw, (max-width: 991px) 127px, 180px" src="images/profile-pic1-01.png" loading="eager" srcset="images/profile-pic1-01.png 500w, images/profile-pic1-01.png 800w, images/profile-pic1-01.png 1080w, images/profile-pic1-01.png 1600w, images/profile-pic1-01.png 2000w, images/profile-pic1-01.png 2600w, images/profile-pic1-01.png 3200w, images/profile-pic1-01.png 4167w" alt="" class="image-6">
                    <h5 class="heading-5">Engineering Logo</h5>
                    <div>SMG</div>
                  </div>
                  <div class="div-block-4"><img width="200" sizes="(max-width: 479px) 44vw, (max-width: 767px) 40vw, (max-width: 991px) 127px, 180px" src="images/profile-pic-01.png" loading="eager" srcset="images/profile-pic-01.png 500w, images/profile-pic-01.png 800w, images/profile-pic-01.png 1080w, images/profile-pic-01.png 1600w, images/profile-pic-01.png 2000w, images/profile-pic-01.png 2600w, images/profile-pic-01.png 3200w, images/profile-pic-01.png 4167w" alt="" class="image-6">
                    <h5 class="heading-5">Engineering Logo</h5>
                    <div>SMG</div>
                  </div>
                </div>
                <div class="column-6 w-col w-col-3">
                  <div class="div-block-4"><img width="200" sizes="(max-width: 479px) 44vw, (max-width: 767px) 40vw, (max-width: 991px) 127px, 180px" src="images/electric-yellow-01.png" loading="eager" srcset="images/electric-yellow-01.png 500w, images/electric-yellow-01.png 800w, images/electric-yellow-01.png 1080w, images/electric-yellow-01.png 1600w, images/electric-yellow-01.png 2000w, images/electric-yellow-01.png 2600w, images/electric-yellow-01.png 3200w, images/electric-yellow-01.png 4167w" alt="" class="image-6">
                    <h5 class="heading-5">Engineering Logo</h5>
                    <div>SMG</div>
                  </div>
                  <div class="div-block-4"><img width="200" sizes="(max-width: 479px) 44vw, (max-width: 767px) 40vw, (max-width: 991px) 127px, 180px" src="images/profile-pic1-01.png" loading="eager" srcset="images/profile-pic1-01.png 500w, images/profile-pic1-01.png 800w, images/profile-pic1-01.png 1080w, images/profile-pic1-01.png 1600w, images/profile-pic1-01.png 2000w, images/profile-pic1-01.png 2600w, images/profile-pic1-01.png 3200w, images/profile-pic1-01.png 4167w" alt="" class="image-6">
                    <h5 class="heading-5">Engineering Logo</h5>
                    <div>SMG</div>
                  </div>
                </div>
              </div>
            </div>
            <div data-w-tab="Tab 2" class="w-tab-pane w--tab-active">
              <div class="div-block-5">
                <div class="div-block-6">
                  <div class="div-block-7"><img width="150" sizes="(max-width: 991px) 150px, 141px" src="images/profile-photo-linkedin.png" loading="lazy" srcset="images/profile-photo-linkedin-p-500.png 500w, images/profile-photo-linkedin-p-800.png 800w, images/profile-photo-linkedin-p-1080.png 1080w, images/profile-photo-linkedin.png 1200w" alt="" class="image-7">
                    <div class="text-block-6">Stan</div>
                  </div>
                  <div class="div-block-8"><img width="200" sizes="(max-width: 991px) 200px, 188px" src="images/profile-pic1-01.png" loading="eager" srcset="images/profile-pic1-01.png 500w, images/profile-pic1-01.png 800w, images/profile-pic1-01.png 1080w, images/profile-pic1-01.png 1600w, images/profile-pic1-01.png 2000w, images/profile-pic1-01.png 2600w, images/profile-pic1-01.png 3200w, images/profile-pic1-01.png 4167w" alt="" class="image-8">
                    <div class="text-block-7">Lollimouth</div>
                  </div>
                  <div class="div-block-8"><img width="200" sizes="(max-width: 991px) 200px, 188px" src="images/profile-pic1-01.png" loading="eager" srcset="images/profile-pic1-01.png 500w, images/profile-pic1-01.png 800w, images/profile-pic1-01.png 1080w, images/profile-pic1-01.png 1600w, images/profile-pic1-01.png 2000w, images/profile-pic1-01.png 2600w, images/profile-pic1-01.png 3200w, images/profile-pic1-01.png 4167w" alt="" class="image-8">
                    <div class="text-block-7">Lollimouth</div>
                  </div>
                  <div class="div-block-8"><img width="200" sizes="(max-width: 991px) 200px, 188px" src="images/profile-pic1-01.png" loading="eager" srcset="images/profile-pic1-01.png 500w, images/profile-pic1-01.png 800w, images/profile-pic1-01.png 1080w, images/profile-pic1-01.png 1600w, images/profile-pic1-01.png 2000w, images/profile-pic1-01.png 2600w, images/profile-pic1-01.png 3200w, images/profile-pic1-01.png 4167w" alt="" class="image-8">
                    <div class="text-block-7">Lollimouth</div>
                  </div>
                </div>
                <div class="div-block-6">
                  <div class="div-block-7"><img width="150" sizes="(max-width: 991px) 150px, 141px" src="images/profile-photo-linkedin.png" loading="lazy" srcset="images/profile-photo-linkedin-p-500.png 500w, images/profile-photo-linkedin-p-800.png 800w, images/profile-photo-linkedin-p-1080.png 1080w, images/profile-photo-linkedin.png 1200w" alt="" class="image-7">
                    <div class="text-block-6">Stan</div>
                  </div>
                  <div class="div-block-8"><img width="200" sizes="(max-width: 991px) 200px, 188px" src="images/profile-pic1-01.png" loading="lazy" srcset="images/profile-pic1-01.png 500w, images/profile-pic1-01.png 800w, images/profile-pic1-01.png 1080w, images/profile-pic1-01.png 1600w, images/profile-pic1-01.png 2000w, images/profile-pic1-01.png 2600w, images/profile-pic1-01.png 3200w, images/profile-pic1-01.png 4167w" alt="" class="image-8">
                    <div class="text-block-7">Lollimouth</div>
                  </div>
                  <div class="div-block-8"><img width="200" sizes="(max-width: 991px) 200px, 188px" src="images/profile-pic1-01.png" loading="lazy" srcset="images/profile-pic1-01.png 500w, images/profile-pic1-01.png 800w, images/profile-pic1-01.png 1080w, images/profile-pic1-01.png 1600w, images/profile-pic1-01.png 2000w, images/profile-pic1-01.png 2600w, images/profile-pic1-01.png 3200w, images/profile-pic1-01.png 4167w" alt="" class="image-8">
                    <div class="text-block-7">Lollimouth</div>
                  </div>
                  <div class="div-block-8"><img width="200" sizes="(max-width: 991px) 200px, 188px" src="images/profile-pic1-01.png" loading="lazy" srcset="images/profile-pic1-01.png 500w, images/profile-pic1-01.png 800w, images/profile-pic1-01.png 1080w, images/profile-pic1-01.png 1600w, images/profile-pic1-01.png 2000w, images/profile-pic1-01.png 2600w, images/profile-pic1-01.png 3200w, images/profile-pic1-01.png 4167w" alt="" class="image-8">
                    <div class="text-block-7">Lollimouth</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}