{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
  <div class="section wf-section">
    <div class="container w-container">
      <div class="div-block-14">
        <div class="div-block-15">
          <div class="text-block">Welcome!</div>
          <h1 class="heading">Our graphic design community. Your digital plug.</h1>
        </div>
        <div><img src="{% static 'images/plug.png'%}" loading="eager" sizes="(max-width: 767px) 100vw, (max-width: 991px) 31vw, 300px" width="300" srcset="{% static 'images/plug.png'%} 500w, {% static 'images/plug.png'%} 800w, {% static 'images/plug.png'%} 1080w, {% static 'images/plug.png'%} 1600w, {% static 'images/plug.png'%} 2000w, {% static 'images/plug.png'%} 2600w, {% static 'images/plug.png'%} 3273w" alt="" class="image-12"></div>
      </div>
    </div>
  </div>
  <div class="section-2 wf-section">
    <div class="container-4 w-container">
      <h1 class="heading-2">Join us!</h1>
      <div class="w-row">
        <div class="column w-col w-col-6">
          <h3 class="heading-3">Register as a creator</h3>
          <div class="text-block-2">You have skills to offer? Register as a creator and feature your best pieces to find potential clients.</div>
          <a href="#" class="button-2 w-button">Register</a>
        </div>
        <div class="column-2 w-col w-col-6">
          <h3 class="heading-3">Register as an explorer</h3>
          <div class="text-block-2">Want to explore talent and find someone to get the job done? Register as an explorer.</div>
          <a href="#" class="button-2 w-button">Register</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}