{% extends 'base/base.html' %}
{% block page_content %}
  <div class="section-7 wf-section">
    <div class="container w-container">
      <div class="div-block-9">
        <div><img src="images/profile-photo-linkedin.png" loading="lazy" width="250" sizes="(max-width: 479px) 83vw, (max-width: 767px) 41vw, (max-width: 991px) 250px, 100vw" srcset="images/profile-photo-linkedin-p-500.png 500w, images/profile-photo-linkedin-p-800.png 800w, images/profile-photo-linkedin-p-1080.png 1080w, images/profile-photo-linkedin.png 1200w" alt="" class="image-10"></div>
        <div class="div-block-10">
          <h1 class="heading-6">Stanislav<br>Manolov</h1>
          <h3 class="heading-7">@stanislavm1</h3>
          <div>Age: 24</div>
          <div>City: Sofia</div>
          <div>Country: Bulgaria</div>
          <div>Email: stanislav@gmail.com</div>
          <div class="text-block-8">Description: Lorem ipsum</div>
          <div class="div-block-11">
            <a href="#" class="button-3 w-button">Edit</a>
            <a href="#" class="button-4 w-button">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-11 wf-section">
    <a href="#" class="button-5 w-button">Contact Creator</a>
  </div>
  <div class="wf-section">
    <div class="container-7 w-container">
      <h1 class="heading-8">Projects</h1>
      <div class="columns w-row">
        <div class="column-3 w-col w-col-3">
          <div class="div-block-4"><img width="200" sizes="(max-width: 479px) 44vw, (max-width: 767px) 40vw, (max-width: 991px) 127px, 180px" src="images/blue-post-nikan-01-01.png" loading="eager" srcset="images/blue-post-nikan-01-01-p-500.png 500w, images/blue-post-nikan-01-01-p-800.png 800w, images/blue-post-nikan-01-01-p-3200.png 3200w, images/blue-post-nikan-01-01.png 6250w" alt="" class="image-6">
            <h5 class="heading-5">Engineering Logo</h5>
            <div>SMG</div>
          </div>
          <div class="div-block-4"><img width="200" sizes="(max-width: 479px) 44vw, (max-width: 767px) 40vw, (max-width: 991px) 127px, 180px" src="images/blue-post-nikan-01-01.png" loading="eager" srcset="images/blue-post-nikan-01-01-p-500.png 500w, images/blue-post-nikan-01-01-p-800.png 800w, images/blue-post-nikan-01-01-p-3200.png 3200w, images/blue-post-nikan-01-01.png 6250w" alt="" class="image-6">
            <h5 class="heading-5">Engineering Logo</h5>
            <div>SMG</div>
          </div>
        </div>
        <div class="column-4 w-col w-col-3">
          <div class="div-block-4"><img width="200" sizes="(max-width: 479px) 44vw, (max-width: 767px) 40vw, (max-width: 991px) 127px, 180px" src="images/profile-pic-01.png" loading="eager" srcset="images/profile-pic-01.png 500w, images/profile-pic-01.png 800w, images/profile-pic-01.png 1080w, images/profile-pic-01.png 1600w, images/profile-pic-01.png 2000w, images/profile-pic-01.png 2600w, images/profile-pic-01.png 3200w, images/profile-pic-01.png 4167w" alt="" class="image-6">
            <h5 class="heading-5">Engineering Logo</h5>
            <div>SMG</div>
          </div>
          <div class="div-block-4"><img width="200" sizes="(max-width: 479px) 44vw, (max-width: 767px) 40vw, (max-width: 991px) 127px, 180px" src="images/electric-yellow-01.png" loading="eager" srcset="images/electric-yellow-01.png 500w, images/electric-yellow-01.png 800w, images/electric-yellow-01.png 1080w, images/electric-yellow-01.png 1600w, images/electric-yellow-01.png 2000w, images/electric-yellow-01.png 2600w, images/electric-yellow-01.png 3200w, images/electric-yellow-01.png 4167w" alt="" class="image-6">
            <h5 class="heading-5">Engineering Logo</h5>
            <div>SMG</div>
          </div>
        </div>
        <div class="column-5 w-col w-col-3">
          <div class="div-block-4"><img width="200" sizes="(max-width: 479px) 44vw, (max-width: 767px) 40vw, (max-width: 991px) 127px, 180px" src="images/profile-pic1-01.png" loading="eager" srcset="images/profile-pic1-01.png 500w, images/profile-pic1-01.png 800w, images/profile-pic1-01.png 1080w, images/profile-pic1-01.png 1600w, images/profile-pic1-01.png 2000w, images/profile-pic1-01.png 2600w, images/profile-pic1-01.png 3200w, images/profile-pic1-01.png 4167w" alt="" class="image-6">
            <h5 class="heading-5">Engineering Logo</h5>
            <div>SMG</div>
          </div>
          <div class="div-block-4"><img width="200" sizes="(max-width: 479px) 44vw, (max-width: 767px) 40vw, (max-width: 991px) 127px, 180px" src="images/profile-pic-01.png" loading="eager" srcset="images/profile-pic-01.png 500w, images/profile-pic-01.png 800w, images/profile-pic-01.png 1080w, images/profile-pic-01.png 1600w, images/profile-pic-01.png 2000w, images/profile-pic-01.png 2600w, images/profile-pic-01.png 3200w, images/profile-pic-01.png 4167w" alt="" class="image-6">
            <h5 class="heading-5">Engineering Logo</h5>
            <div>SMG</div>
          </div>
        </div>
        <div class="column-6 w-col w-col-3">
          <div class="div-block-4"><img width="200" sizes="(max-width: 479px) 44vw, (max-width: 767px) 40vw, (max-width: 991px) 127px, 180px" src="images/electric-yellow-01.png" loading="eager" srcset="images/electric-yellow-01.png 500w, images/electric-yellow-01.png 800w, images/electric-yellow-01.png 1080w, images/electric-yellow-01.png 1600w, images/electric-yellow-01.png 2000w, images/electric-yellow-01.png 2600w, images/electric-yellow-01.png 3200w, images/electric-yellow-01.png 4167w" alt="" class="image-6">
            <h5 class="heading-5">Engineering Logo</h5>
            <div>SMG</div>
          </div>
          <div class="div-block-4"><img width="200" sizes="(max-width: 479px) 44vw, (max-width: 767px) 40vw, (max-width: 991px) 127px, 180px" src="images/profile-pic1-01.png" loading="eager" srcset="images/profile-pic1-01.png 500w, images/profile-pic1-01.png 800w, images/profile-pic1-01.png 1080w, images/profile-pic1-01.png 1600w, images/profile-pic1-01.png 2000w, images/profile-pic1-01.png 2600w, images/profile-pic1-01.png 3200w, images/profile-pic1-01.png 4167w" alt="" class="image-6">
            <h5 class="heading-5">Engineering Logo</h5>
            <div>SMG</div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}