{% extends 'base/base.html' %}
{% block page_content %}
  <div class="section-7 wf-section">
    <div class="container w-container">
      <div class="div-block-9">
        <div><img src="images/profile-photo-linkedin.png" loading="lazy" width="250" sizes="(max-width: 479px) 83vw, (max-width: 767px) 41vw, (max-width: 991px) 250px, 100vw" srcset="images/profile-photo-linkedin-p-500.png 500w, images/profile-photo-linkedin-p-800.png 800w, images/profile-photo-linkedin-p-1080.png 1080w, images/profile-photo-linkedin.png 1200w" alt="" class="image-10"></div>
        <div class="div-block-10">
          <h1 class="heading-6">Stanislav<br>Manolov</h1>
          <h3 class="heading-7">@stanislavm1</h3>
          <div>Age: 24</div>
          <div>City: Sofia</div>
          <div>Country: Bulgaria</div>
          <div>Email: stanislav@gmail.com</div>
          <div class="text-block-8">Description: Lorem ipsum</div>
          <div class="div-block-11">
            <a href="#" class="button-3 w-button">Edit</a>
            <a href="#" class="button-4 w-button">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}