{% extends 'base/base.html' %}
{% block page_content %}
  <div class="section-13 wf-section">
    <div class="w-container">
      <div>
        <div class="w-row">
          <div class="column-8 w-col w-col-6"><img src="images/profile-pic-01.png" loading="lazy" width="400" sizes="(max-width: 479px) 84vw, (max-width: 767px) 400px, (max-width: 991px) 354px, 400px" srcset="images/profile-pic-01.png 500w, images/profile-pic-01.png 800w, images/profile-pic-01.png 1080w, images/profile-pic-01.png 1600w, images/profile-pic-01.png 2000w, images/profile-pic-01.png 2600w, images/profile-pic-01.png 3200w, images/profile-pic-01.png 4167w" alt="" class="image-11"></div>
          <div class="column-7 w-col w-col-6">
            <div class="text-block-11">Illustration</div>
            <h1 class="heading-15">Lollimouth</h1>
            <p class="paragraph-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            <div class="div-block-13">
              <a href="#" class="button-6 w-button">Edit</a>
              <a href="#" class="button-7 w-button">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}