{% extends 'base/base.html' %}
{% block page_content %}
  <div class="section-14 wf-section">
    <div class="w-container">
      <h1 class="heading-16">Upload project</h1>
      <div class="w-form">
        <form id="email-form" name="email-form" data-name="Email Form" method="get" class="form"><label for="name-3">Title</label><input type="text" class="project-form w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="" id="name-3"><label for="email-2">Category</label><input type="email" class="project-form w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="" id="email-2" required=""><label for="field-2">Description</label><textarea placeholder="" maxlength="5000" id="field-2" name="field-2" data-name="field" class="project-form w-input"></textarea><label for="field-3">Image</label><input type="text" class="project-form w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="" id="name-2"><input type="submit" value="Submit" data-wait="Please wait..." class="submit-button-4 w-button"></form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}